.categories{
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
}

.category{
    height: 300px;
    background-color: #262e4e;
    display: flex;
    justify-content: center;
    align-items: center;

}

.category:hover{
    background-color: #262e4e;
}

.category a{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.item{
    width: 400px;
    margin-bottom: 15px;
}